<nav class="navbar navbar-dark col-12" style="background-color: #181D23;position: fixed;">

  <a class="navbar-brand" href="#" style="cursor: pointer;font-size: xx-large;">
    <img src="../../assets/images/logo.png" style="height: 50px;width: 50px;" alt="">
    MediaLib
  </a>

  <!-- <div class="navbar-brand ml-2">
    <a routerLink="/" class="navbar-brand display-4" style="cursor: pointer;font-size: xx-large;"></a>
  </div> -->

  <div class="navbar-header inline-block row">
    <!-- <p class="text-white mt-3 mr-3" style="font-size: x-large;">Sadhu Keshavjivandas</p> -->
    <a routerLink="/" class="navbar-brand" style="cursor: pointer;">
      <fa-icon [icon]="faUserCircle" class="icon float-left fa-2x"></fa-icon>
    </a>
  </div>



</nav>
