<div class="container-fluid mt-4">


  <div class="row" style="position: relative;height: 720px;">

    <div class="col-md-8">
      <vg-player (onPlayerReady)="onPlayerReady($event)">

        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-controls style="height: fit-content;">
          <vg-play-pause></vg-play-pause>
          <!-- <vg-playback-button></vg-playback-button> -->
          <div class="m-3 text-white">Speed</div>
          <div class="mt-3">
            <input type="range" min="0.5" max="2" value="{{currentSpeed}}" step="0.1" class="slider form-control-range"
              (change)="handlespeed($event.target.value)">
            <span class="range-slider__value">{{currentSpeed}}</span>
          </div>
          <div class="mt-2 ml-2 text-white">
            <h4>{{currentSpeed}}</h4>
          </div>
          <div (click)="previousVideo()" class="m-3">
            <fa-icon [icon]="faFastBackward" class="icon text-white fa-lg"></fa-icon>
          </div>
          <div (click)="nextVideo()" class="m-3">
            <fa-icon [icon]="faFastForward" class="icon text-white fa-lg"></fa-icon>
          </div>
          <div (click)="backward10sec($event)" class="m-3">
            <fa-icon [icon]="faUndo" class="icon text-white fa-lg"></fa-icon>
          </div>
          <div (click)="forward10sec($event)" class="m-3">
            <fa-icon [icon]="faRedo" class="icon text-white fa-lg"></fa-icon>
          </div>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <div class="m-3" (click)="openBookmarkModel()" ngbPopover="Bookmark" triggers="mouseenter:mouseleave">

            <fa-icon [icon]="faBookmark" class="icon text-white fa-lg" data-toggle="modal" data-target="#exampleModal">
            </fa-icon>


          </div>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
          <div (click)="pipr()" class="m-3">
            <fa-icon [icon]="faShare" class="icon text-white fa-lg"></fa-icon>
          </div>

        </vg-controls>

        <video #media [vgMedia]="media" [src]="currentItem.src" id="singleVideo" preload="auto" crossorigin
          class="video-stream html5-main-video">
        </video>

      </vg-player>

      <div class="row ">
        <div class="col">
          <p class="display-4">{{currentItem.title}}</p>
        </div>
        <div class="col-5 ">

          <div class="row float-right mr-2">
            <fa-icon [icon]="faHeartR" class="icon fa-3x"></fa-icon>
            <fa-icon [icon]="faThumbsUpR" class="icon fa-3x ml-5"></fa-icon>&nbsp;&nbsp;
            <p class=" display-4 ml-2">122</p>
            <fa-icon [icon]="faEye" class="icon fa-3x ml-5"></fa-icon>&nbsp;&nbsp;
            <p class=" display-4 ml-2">122</p>
            <fa-icon [icon]="faList" class="icon fa-3x ml-5"></fa-icon>
          </div>

        </div>
      </div>
      <div class="row float-right">
        <fa-icon [icon]="faStar" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
        <fa-icon [icon]="faStar" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
        <fa-icon [icon]="faStar" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
        <fa-icon [icon]="faStar" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
        <fa-icon [icon]="faStarR" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
      </div>

      <div class="row">
        <div class="col-12">

          <div class="d-flex m-5">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills " orientation="vertical">
              <li ngbNavItem="bookmarks">
                <a ngbNavLink>bookmarks</a>
                <ng-template ngbNavContent class="m-5">
                  <div class="row">
                    <div class="card" style="width:800px;">
                      <div class="card-body">
                        <span>2:30 ABCD</span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem="tags">
                <a ngbNavLink>Tags</a>
                <ng-template ngbNavContent>
                  <span>ABCD</span>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="ml-4"></div>
          </div>

        </div>
      </div>


    </div>












    <div class="col-md-4" style="max-height: 60%;">

      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Queue</h2>

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <ul>
            <li *ngFor="let item of playlist; let $index = index" [class.selected]="item === currentItem">
              <div class="row">

                <div class="col-5" (click)="onClickPlaylistItem(item, $index)">
                  <video width="300" height="150">
                    <source src="{{item.vposter}}" type="video/mp4" />
                  </video>
                </div>
                <div class="col-7">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <h5 class="card-text float-left">{{ item.title }}</h5><br>
                      </div>
                      <div class="row">
                        <fa-icon [icon]="faThumbsUp" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
                        <h5 class="mt-3">122</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <fa-icon [icon]="faEye" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
                        <h5 class="mt-3">122</h5>
                      </div>
                      <div class="row mt-2">
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStarR" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                      </div>


                    </div>
                  </div>
                </div>

              </div>
            </li>
          </ul>

        </div>
      </div>


      <!-- Queue Card done -->


      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Suggestions</h2>

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <ul>
            <li *ngFor="let item of playlist; let $index = index" [class.selected]="item === currentItem">
              <div class="row">

                <div class="col-5" (click)="onClickPlaylistItem(item, $index)">
                  <video width="300" height="150">
                    <source src="{{item.vposter}}" type="video/mp4" />
                  </video>
                </div>
                <div class="col-7">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <h5 class="card-text float-left">{{ item.title }}</h5><br>
                      </div>
                      <div class="row">
                        <fa-icon [icon]="faThumbsUp" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
                        <h5 class="mt-3">122</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <fa-icon [icon]="faEye" class="icon float-left fa-2x"></fa-icon>&nbsp;&nbsp;
                        <h5 class="mt-3">122</h5>
                      </div>
                      <div class="row mt-2">
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStar" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                        <fa-icon [icon]="faStarR" class="icon float-left fa-lg"></fa-icon>&nbsp;&nbsp;
                      </div>


                    </div>
                  </div>
                </div>

              </div>
            </li>
          </ul>

        </div>
      </div>


      <!-- Suggestion done -->



    </div>
  </div>




</div>
