<!-- <div class="sidebar-sticky" style="background-color: #181D23;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <fa-icon [icon]="faHome" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <fa-icon [icon]="faFilter" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <fa-icon [icon]="faHistory" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="users"></span>
        <fa-icon [icon]="faBookmark" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="bar-chart-2"></span>
        <fa-icon [icon]="faHeart" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="layers"></span>
        <fa-icon [icon]="faList" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="layers">
          <fa-icon [icon]="faSearch" class="icon float-left fa-2x"></fa-icon>
        </span>
      </a>
    </li>
  </ul>

</div> -->


<div class="sidenav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <fa-icon [icon]="faHome" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <fa-icon [icon]="faSearch" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <fa-icon [icon]="faHistory" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="users"></span>
        <fa-icon [icon]="faBookmark" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="bar-chart-2"></span>
        <fa-icon [icon]="faHeart" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" href="#">
        <span data-feather="layers"></span>
        <fa-icon [icon]="faList" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>

  </ul>
</div>
