<!-- <div class="sidebar-sticky" style="background-color: #181D23;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" style="color: #66B92E;">
        <fa-icon [icon]="faMusic" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-color" style="color: #fc6e20;">
        <fa-icon [icon]="faVideo" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link icon-color" style="color: #77bde6;">
        <fa-icon [icon]="faBook" class="icon float-left fa-2x"></fa-icon>
      </a>
    </li>
  </ul>

</div> -->

<div class="sidenav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" style="color: #66B92E;">
        <fa-icon [icon]="faMusic" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" style="color: #fc6e20;">
        <fa-icon [icon]="faVideo" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
    <li class="nav-item mt-3">
      <a class="nav-link icon-color" style="color: #77bde6;">
        <fa-icon [icon]="faBook" class="icon float-left fa-lg"></fa-icon>
      </a>
    </li>
  </ul>
</div>
